/* Spinner.css */
.spinner {
	position: fixed; /* Ensure the spinner stays in the same position on the screen */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
 
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 11.5px solid;
	border-color: #474bff #0000;
	animation: spinner 1s infinite;
}

@keyframes spinner {
	to {
		 transform: rotate(.5turn);
	}
}
